@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

* {
    margin: 0px;
    padding: px;
}

:root {
    --primary-color: rgb(60, 136, 167);
    --secondary-color: rgb(159, 132, 189);
}

body {
    background-color: rgb(244, 226, 242);
    font-family: 'GFuzzy Bubbles', cursive;
}

main {
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin: 20vh 0 15vh;
    text-align: center;
    font-size: 4rem;    
}

main p {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 2rem;
    color: var(--secondary-color);
}

input {
    margin: 0.7rem 0 2rem;
    padding: 0.2rem 0.5rem;
    font-size: large;
}

button {
    display: block;
    margin: auto;
    padding: 0.5rem 2rem;
    font-size: large;
    background-color: var(--primary-color);
    color: whitesmoke;
}

#output-message {
    margin: 2rem;
    color: var(--secondary-color);
    font-size: x-large;
    font-weight: bold;
    line-height: 2rem;
}

footer {
    text-align: center;
    margin-top: 10vh;
}

footer p {
    font-size: x-large;
    padding: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

a, 
i {
    width: 30px;
    height: 30px;
    padding: 3px;
}